@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
  font-family: 'Lato', sans-serif;
  width: 150px;
  text-align: center;
}

h1 {
  font-size: 16px;
}

section {
  position: relative;
  margin-top: 10px;
  padding: 10px 0;
  box-shadow: 0 0 16px 3px rgba(0 0 0 / 15%);
}

section::before {
  position: absolute;
  top: 3px;
  left: 3px;
  content: '';
  display: block;
  background: red;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 0;
}

.section-description {
  padding-top: 4px;
  font-size: 12px;
  color: gray;
  margin: 0;
}

.section-sub-tag {
  background: rgb(122 103 183);
  padding: 3px;
  margin-left: 2px;
  font-size: 10px;
  border-radius: 6px;
  color: white;
}

.section-page-tag {
  background: black;
  color: white;
  padding: 4px;
  margin: 4px;
  font-size: 12px;
  border-radius: 10px;
}

.reddot {
  color: red;
  font-size: 30px;
}

.control-section {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 10px 30px;
}

.control-section .toggle-label {
  width: 100%;
  height: 24px;
  display: block;
  position: relative;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 16px 3px rgba(0 0 0 / 15%);
  cursor: pointer;
}

.toggle-label .toggle-text {
  line-height: 24px;
  font-size: 14px;
}

.control-section .toggle-icon {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #f03d3d;
}

.always-checkbox:checked ~ .toggle-label {
  background: #f03d3d;
}

.always-checkbox:checked ~ .toggle-label .toggle-icon {
  left: calc(100% - 20px);
  background: #fff;
}

.always-checkbox:checked ~ .toggle-label .toggle-text {
  color: #fff;
}

.toggle-label,
.toggle-icon,
.toggle-text {
  transition: all 0.3s ease-in-out;
}

.control-section input {
  display: none;
}

.control-section .once-button {
  width: 80px;
  height: 24px;

  padding: 4px 0;
  margin-top: 10px;

  font-size: 14px;
  border: none;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0 0 16px 3px rgba(0 0 0 / 15%);
  cursor: pointer;
}

/* ------------------------ wave ------------------------ */
.header {
  cursor: pointer;
  position: relative;
  text-align: center;
  background: linear-gradient(
    60deg,
    rgba(84, 58, 183, 1) 0%,
    rgba(0, 172, 193, 1) 100%
  );
  color: white;
}
.logo {
  width: 50px;
  fill: white;
  padding-right: 15px;
  display: inline-block;
  vertical-align: middle;
}

.inner-header {
  height: 10vh;
  width: 100%;
  margin: 0;
  padding: 10px 0 0 0;
}

.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 4px;
}

.flex img {
  width: 40px;
  margin-left: 13px;
  border-radius: 10px;
}

.waves {
  position: relative;
  width: 100%;
  height: 5vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 25px;
  max-height: 50px;
}
/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
